body{
    font-family: 'Roboto','Verdana', 'Tahoma', sans-serif;
    color: #434455;
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
    }
    h1, h2, h3, h4, p, ul, a{
        margin: 0;
        padding: 0;
    }
        .container {
            display: block;
            box-sizing: border-box;
            margin-right: auto;
            margin-left: auto;
            width: 1440px;
        }
    header{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        text-decoration: none;
        list-style: none;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px #434455;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    img{
        display: block;
        padding-bottom: 32px;
        max-width: 100%;
        height: auto;
    }
    .logo{
        font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .accent{
        font-family: Raleway;
        color: #404BBF;
    }
    .site-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        list-style: none;
    }
    .site-nav .link{
        gap: 40px;
        color: #2E2F42;
        font-weight: 700;
        text-decoration: none;
    }
    .site-nav .link:hover, .site-nav .link:active{
        color: #4D5AE5;
    }
    .adress .contact{
        padding-left: 20px;
        justify-content: flex-end;
        color: inherit;
        font-size: 12px;
        font-style: normal;
        text-decoration: none;
        letter-spacing: 0.04em;
    }
        .adress .contact:hover{
        color: #4D5AE5;
    }
    .post{
        display: flex;
        padding: 188px 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        background-color: #2E2F42;
        list-style: none;
        text-align: center;
        }
    .title{
        display: inline;
        width: 496px;
        margin-bottom: 48px;
        font-size:  56px;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.07;
    }
    .button{
        display: inline;
        padding: 16px 32px;
        border-radius: 4px;
        border-color: #4D5AE5;
        color: white;
        background-color: #4D5AE5;
        letter-spacing: 0.04em;
        line-height: 1.5;
        cursor: pointer;
    }
    .post .button:hover, .post1 .button:active{
        background-color: #404BBF;
    }
    .post1{
        padding-top: 120px;
        padding-bottom: 120px;
    }
   .post1 .section1{
    display: flex;
    gap: 24px;
    list-style: none;
    }
    .post2 {
        display: flex;
        padding: 120px 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
        background-color: #F4F4FD;
        text-align: center;
        width: 100%;
        }
        .post2 .section2{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-top: 72px;
            gap: 32px;
            text-decoration: none;
            list-style: none;
        }
    .h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
    }
    .section2 .h3{
    padding-top: 20px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.002em;
    text-align: center;
    background-color: white;
    }

.header2{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.section2 .text2{
    padding-bottom: 15px;
    background-color: white;
    text-align: center;
 }
 .post3{
    display: block;
    border: 1px;
    padding-top: 120px;
    padding-bottom: 120px;
    list-style: none;
}
.post3 .section3{
    display: flex;
    padding-top: 72px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
    list-style: none;
}
 .section3 .h3 {
    padding-bottom: 8px;
    font-weight: 500;
     font-size: 20px;
     line-height: 24px;
     letter-spacing: 0.002em;
     text-align: left;
 }
.section3 .text3{
    text-align: left;
}
.footer{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 720px;
    padding-left: 156px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    background-color: #2E2F42;
    text-align: left;
}
.footer .logo{
    padding-bottom: 16px;
}